@font-face {
    font-family: 'tt-norms';
    src: url('./TT-Norms-Pro-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'rebelton';
    src: url('./REBELTON-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }